{% extends "layout.html" %}
{% block content %}
<h1>About Us</h1>
<div class="details-box">
    <p>
        We are three friends from the same department, studying in the 3rd semester of
        Data Science at Pak Austria Institute. We have always loved creativity—art, writing,
        animation—and we noticed that writers and artists rarely get a combined platform.
    </p>
    <p>
        This idea came to our minds while remembering how some artworks take years to
        become masterpieces. Just like that, we also wanted to provide a platform where
        writers and artists can collaborate, innovate, and create animations or creative
        projects together.
    </p>
</div>
{% endblock %}