{% extends "layout.html" %}
{% block content %}
<h1>Contact Us</h1>
<div class="details-box">
    <p style="font-weight:600; font-size:18px;">📩 Please contact us on Instagram</p>
    <p><a href="https://instagram.com/laiba_.ktk" target="_blank" style="color:#3a0e2d; text-decoration:none;">&#x1F47E;
            laiba_.ktk</a></p>
    <p><a href="https://instagram.com/iamak402" target="_blank" style="color:#3a0e2d; text-decoration:none;">&#x1F47E;
            iamak402</a></p>
    <p><a href="https://instagram.com/stfu.aaa_mina.1" target="_blank"
            style="color:#3a0e2d; text-decoration:none;">&#x1F47E; stfu.aaa_mina.1</a></p>
</div>
{% endblock %}